ion-select{
	background-color:lightgrey;
	color:black;
	font-weight:bold;
}

ion-popover ion-content{
	width:100%;
	font-size:11px;
}

.homeIcon {
	font-size:24px;
	padding-left:10px;
}

.clickCol{
	color:lightblue;
	text-decoration:underline;
}