<ion-header>
  <ion-toolbar>  
    <ion-icon class="homeIcon" name='home-outline' slot="start" (click)="navHome()"></ion-icon>
    <ion-title slot="start">
      Players
    </ion-title>
    <ion-button slot="start" (click)="navEvents()"><ion-icon name="today-outline"></ion-icon> Events</ion-button>
    <ion-button slot="start" (click)="navAbout()"><ion-icon name="reader-outline"></ion-icon> About</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-select #playerSelect (ionChange)="getPlayerResults($event.target.value)" placeholder={{selectPlaceholder}}>
    <ion-select-option *ngFor="let player of players.data" [value]="player">{{player.name}}</ion-select-option>
  </ion-select>

  <ion-grid *ngIf="selectedPlayer.name">
    <ion-row><ion-col><h3>Player Stats</h3></ion-col> <ion-col><ion-button (click)="clearSelection()">Clear Selection</ion-button></ion-col></ion-row>
    <ion-row>
      <ion-col><b>Name</b></ion-col>
      <ion-col><b>Elo</b></ion-col>
      <ion-col><b>Wins</b></ion-col>
      <ion-col><b>Losses</b></ion-col>
      <ion-col><b>Role</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col>{{selectedPlayer.name}}</ion-col>
      <ion-col>{{selectedPlayer.elo}}</ion-col>
      <ion-col>{{selectedPlayer.wins}}</ion-col>
      <ion-col>{{selectedPlayer.losses}}</ion-col>
      <ion-col>{{selectedPlayer.role}}</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngFor="let team of selectedPlayer.teams" >
    <ion-row><ion-col><h3>{{team.event.name}} - {{team.event.date.toLocaleDateString()}} - {{team.team_name}}</h3></ion-col></ion-row>
    <ion-row><ion-col><h4>Games</h4></ion-col></ion-row>
    <ion-row>
      <ion-col size="1"><b>Round</b></ion-col>
      <ion-col size="1"><b>Result</b></ion-col>
      <ion-col size="3"><b>Opponent</b></ion-col>
      <ion-col><b>Faction</b></ion-col>
      <ion-col size=><b>Map</b></ion-col>
      <ion-col size="1"><b>Player Elo</b></ion-col>
      <ion-col size="1"><b>Team Elo</b></ion-col>
      <ion-col><b>Elo Change</b></ion-col>
    </ion-row>
    <div *ngFor="let game of team.games">
      <div *ngIf="game.win_team">
        <ion-row>
          <ion-col size="1">{{game.round}}</ion-col>
          <ion-col *ngIf="game.win_team == team.id" size="1">Win</ion-col>
          <ion-col *ngIf="game.win_team != team.id" size="1">Loss</ion-col>
          <ion-col *ngIf="game.nr_team == team.id" (click)="showGameDetails($event, game.emp_team, game.id)" size="3" class="clickCol">
            {{game.team_name}} ({{game.emp_team_elo}})
          </ion-col>
          <ion-col *ngIf="game.emp_team == team.id" (click)="showGameDetails($event, game.nr_team, game.id)" size="3" class="clickCol">
            {{game.team_name}} ({{game.nr_team_elo}})
          </ion-col>
          <ion-col *ngIf="game.nr_team == team.id">New Republic</ion-col>
          <ion-col *ngIf="game.emp_team == team.id">Empire</ion-col>
          <ion-col>{{game.map}}</ion-col>
          <ion-col size="1">{{game.historical_elo}}</ion-col>
          <ion-col *ngIf="game.nr_team == team.id" size="1">{{game.nr_team_elo}}</ion-col>
          <ion-col *ngIf="game.emp_team == team.id" size="1">{{game.emp_team_elo}}</ion-col>
          <ion-col *ngIf="game.win_team == team.id">+{{game.elo_score}} </ion-col>
          <ion-col *ngIf="game.win_team != team.id">-{{game.elo_score}} </ion-col>
        </ion-row>
      </div>
    </div>
</ion-grid>

<ion-grid *ngIf="selectedPlayer.name == null">
  <ion-row>
    <ion-col><b>Name</b></ion-col>
    <ion-col><b>Elo</b></ion-col>
    <ion-col><b>Wins</b></ion-col>
    <ion-col><b>Losses</b></ion-col>
    <ion-col><b>Role</b></ion-col>
  </ion-row>
  <ion-row *ngFor="let player of topPlayers.data">
    <ion-col (click)="getPlayerResults(player)" class="clickCol">{{player.name}}</ion-col>
    <ion-col>{{player.elo}}</ion-col>
    <ion-col>{{player.wins}}</ion-col>
    <ion-col>{{player.losses}}</ion-col>
    <ion-col>{{player.role}}</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
